## 1. Importar las Librerías Necesarias

In [58]:
import numpy as np 
import pandas as pd 
import os
import math

## 2. Leer los Datos
Al menos los datos Tabulares de la base de "train"

In [2]:
path_wd = r"C:\Users\rodri\OneDrive\Documentos\Maestría Ciencia de Datos\LAB 2\Datos_Kaggle"
os.chdir(path_wd)
data = pd.read_csv(r".\train\train.csv")

In [4]:
data.shape

(14993, 24)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14993 entries, 0 to 14992
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Type           14993 non-null  int64
 1   Name           13736 non-null  object
 2   Age            14993 non-null  int64
 3   Breed1         14993 non-null  int64
 4   Breed2         14993 non-null  int64
 5   Gender         14993 non-null  int64
 6   Color1         14993 non-null  int64
 7   Color2         14993 non-null  int64
 8   Color3         14993 non-null  int64
 9   MaturitySize   14993 non-null  int64
 10  FurLength      14993 non-null  int64
 11  Vaccinated     14993 non-null  int64
 12  Dewormed       14993 non-null  int64
 13  Sterilized     14993 non-null  int64
 14  Health         14993 non-null  int64
 15  Quantity       14993 non-null  int64
 16  Fee            14993 non-null  int64
 17  State          14993 non-null  int64
 18  RescuerID      14993 non-null  object
 19  VideoAmt       14993 non-null  int64
 20  Description    14981 non-null  object
 21  PetID          14993 non-null  object
 22  PhotoAmt       14993 non-null  float64
 23  AdoptionSpeed  14993 non-null  int64
dtypes: float64(1), int64(19), object(4)
memory usage: 2.7+ MB

In [5]:
data.describe()

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,VideoAmt,PhotoAmt,AdoptionSpeed
count,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000
mean,1.457614,10.452078,265.272594,74.009738,1.776162,2.234176,3.222837,1.882012,1.862002,1.467485,1.731208,1.558727,1.914227,1.036617,1.576069,21.259988,41346.028347,0.056760,3.889215,2.516441
std,0.498217,18.155790,60.056818,123.011575,0.681592,1.745225,2.742562,2.984086,0.547959,0.599070,0.667649,0.695817,0.566172,0.199535,1.472477,78.414548,32.444153,0.346185,3.487810,1.177265
min,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,41324.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,265.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,41326.000000,0.000000,2.000000,2.000000
50%,1.000000,3.000000,266.000000,0.000000,2.000000,2.000000,2.000000,0.000000,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,0.000000,41326.000000,0.000000,3.000000,2.000000
75%,2.000000,12.000000,307.000000,179.000000,2.000000,3.000000,6.000000,5.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,0.000000,41401.000000,0.000000,5.000000,4.000000
max,2.000000,255.000000,307.000000,307.000000,3.000000,7.000000,7.000000,7.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,20.000000,3000.000000,41415.000000,8.000000,30.000000,4.000000

In [6]:
data.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3
3,1,Miko,4,307,0,2,1,2,0,2,...,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2
4,1,Hunter,1,307,0,1,1,0,0,2,...,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2

In [7]:
data.sample(10)

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
6019,1,Brownie,2,307,0,2,2,0,0,2,...,1,1,5,41327,2d2c610faa103ae8bc8f45278e2d657e,0,cute and clever,cfebb0955,2.0,4
14659,2,Beauty,3,266,245,2,1,7,0,1,...,1,1,0,41327,fd970cc91d06d82eebf046340137b272,0,"Adopters must vaccinate, spay and keep kitten ...",9bc084196,4.0,1
2857,1,Clinger,76,307,0,1,2,5,7,2,...,1,1,0,41401,2416a0aa4eac479709cf100788d0840c,0,Clinger was a rescued stray from Thailand. He ...,b35e6306c,1.0,4
5551,1,Latte,1,307,0,1,2,0,0,2,...,1,1,0,41326,07b9dd0583c955659f8ccdeaa2a6428b,0,I first rescue the pregnant mother and give he...,6a7027972,2.0,1
5744,1,None,2,307,0,1,1,2,3,2,...,1,1,0,41326,8d3bc362924accf20074bc2dc86ea8f9,0,Homeless puppy found beside pasar area. Not ab...,d0b337200,3.0,1
14885,2,Mc Dong Dong,2,266,0,1,6,0,0,2,...,1,1,0,41401,01f954cdf61526daf3fbeb8a074be742,0,Mc Dong Dong is a tabby male with a very obvio...,407af6f7d,5.0,2
2558,1,( 0 Puppies Left )14+2 Puppies,2,307,307,3,2,0,0,2,...,1,16,0,41326,3b074cadd2350de62dca7056b9bab6f4,0,They are 2 stray mother dogs gave birth 14 pup...,acb614bba,30.0,2
10539,2,2 Kittens,4,265,0,2,3,7,0,2,...,1,2,0,41326,a56dcc08305d68be831745dca8189e8f,0,These 2 kittens were taken from my parents hom...,2083834e2,5.0,4
1189,1,Stuart,4,307,0,1,1,2,0,1,...,1,1,0,41326,40defc62776a8cb5200c28948f64eab2,1,Puppy are rescue from the very dirty place. He...,19d7de899,1.0,2
4771,1,NaN,96,109,0,1,3,0,0,3,...,1,1,0,41401,0f600af3315289b097f74e23c413de7d,0,He is obedient & toilet trained .,d1962ab4f,1.0,4

In [8]:
data.tail()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
14988,2,NaN,2,266,0,3,1,0,0,2,...,1,4,0,41326,61c84bd7bcb6fb31d2d480b1bcf9682e,0,I have 4 kittens that need to be adopt urgentl...,dc0935a84,3.0,2
14989,2,Serato & Eddie,60,265,264,3,1,4,7,2,...,1,2,0,41326,1d5096c4a5e159a3b750c5cfcf6ceabf,0,Serato(female cat- 3 color) is 4 years old and...,a01ab5b30,3.0,4
14990,2,Monkies,2,265,266,3,5,6,7,3,...,1,5,30,41326,6f40a7acfad5cc0bb3e44591ea446c05,0,"Mix breed, good temperament kittens. Love huma...",d981b6395,5.0,3
14991,2,Ms Daym,9,266,0,2,4,7,0,1,...,1,1,0,41336,c311c0c569245baa147d91fa4e351ae4,0,she is very shy..adventures and independent..s...,e4da1c9e4,3.0,4
14992,1,Fili,1,307,307,1,2,0,0,2,...,1,1,0,41332,9ed1d5493d223eaa5024c1a031dbc9c2,0,Fili just loves laying around and also loves b...,a83d95ead,1.0,3

In [3]:
#confirmacion de si se adoptan por grupo
data[(data['Gender'] > 2) & (data['Quantity'] < 2)]

Empty DataFrame
Columns: [Type, Name, Age, Breed1, Breed2, Gender, Color1, Color2, Color3, MaturitySize, FurLength, Vaccinated, Dewormed, Sterilized, Health, Quantity, Fee, State, RescuerID, VideoAmt, Description, PetID, PhotoAmt, AdoptionSpeed]
Index: []

[0 rows x 24 columns]

In [81]:
#Analisis de razas
breadth = pd.read_csv('./breed_labels.csv')
breadth

     BreedID  Type         BreedName
0          1     1     Affenpinscher
1          2     1      Afghan Hound
2          3     1  Airedale Terrier
3          4     1            Akbash
4          5     1             Akita
..       ...   ...               ...
302      302     2            Torbie
303      303     2     Tortoiseshell
304      304     2    Turkish Angora
305      305     2       Turkish Van
306      306     2            Tuxedo

[307 rows x 3 columns]

In [76]:
color = pd.read_csv('./color_labels.csv')
color

   ColorID ColorName
0        1     Black
1        2     Brown
2        3    Golden
3        4    Yellow
4        5     Cream
5        6      Gray
6        7     White

In [77]:
state = pd.read_csv('./StateLabels.csv')
state

    StateID        StateName
0     41336            Johor
1     41325            Kedah
2     41367         Kelantan
3     41401     Kuala Lumpur
4     41415           Labuan
5     41324           Melaka
6     41332  Negeri Sembilan
7     41335           Pahang
8     41330            Perak
9     41380           Perlis
10    41327     Pulau Pinang
11    41345            Sabah
12    41342          Sarawak
13    41326         Selangor
14    41361       Terengganu

## EDA

In [11]:
#!pip install skimpy
from skimpy import skim

In [13]:
skim(data)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 14993  │ │ int32       │ 19    │                                                          │
│ │ Number of columns │ 24     │ │ string      │ 4     │                                                          │
│ └───────────────────┴────────┘ │ float64     │ 1     │                                                          │
│                                └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━━━━┳━━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━━┓  │
│ ┃ column_name       ┃ NA  ┃ NA %   ┃ mean    ┃ sd    ┃ p0      ┃ p25    ┃ p50    ┃ p75    ┃ p100   ┃ hist    ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━╇━━━━━━━━╇━━━━━━━━━╇━━━━━━━╇━━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━━┩  │
│ │ Type              │   0 │      0 │     1.5 │   0.5 │       1 │      1 │      1 │      2 │      2 │ ▇    ▇  │  │
│ │ Age               │   0 │      0 │      10 │    18 │       0 │      2 │      3 │     12 │    260 │    ▇    │  │
│ │ Breed1            │   0 │      0 │     270 │    60 │       0 │    260 │    270 │    310 │    310 │     ▁▇  │  │
│ │ Breed2            │   0 │      0 │      74 │   120 │       0 │      0 │      0 │    180 │    310 │ ▇    ▂  │  │
│ │ Gender            │   0 │      0 │     1.8 │  0.68 │       1 │      1 │      2 │      2 │      3 │ ▆  ▇ ▂  │  │
│ │ Color1            │   0 │      0 │     2.2 │   1.7 │       1 │      1 │      2 │      3 │      7 │ ▇▅▁▁▁▁  │  │
│ │ Color2            │   0 │      0 │     3.2 │   2.7 │       0 │      0 │      2 │      6 │      7 │ ▇▆▁▂▂▇  │  │
│ │ Color3            │   0 │      0 │     1.9 │     3 │       0 │      0 │      0 │      5 │      7 │ ▇    ▃  │  │
│ │ MaturitySize      │   0 │      0 │     1.9 │  0.55 │       1 │      2 │      2 │      2 │      4 │  ▃ ▇ ▁  │  │
│ │ FurLength         │   0 │      0 │     1.5 │   0.6 │       1 │      1 │      1 │      2 │      3 │ ▇  ▅ ▁  │  │
│ │ Vaccinated        │   0 │      0 │     1.7 │  0.67 │       1 │      1 │      2 │      2 │      3 │ ▇  ▇ ▂  │  │
│ │ Dewormed          │   0 │      0 │     1.6 │   0.7 │       1 │      1 │      1 │      2 │      3 │ ▇  ▅ ▂  │  │
│ │ Sterilized        │   0 │      0 │     1.9 │  0.57 │       1 │      2 │      2 │      2 │      3 │ ▂  ▇ ▁  │  │
│ │ Health            │   0 │      0 │       1 │   0.2 │       1 │      1 │      1 │      1 │      3 │    ▇    │  │
│ │ Quantity          │   0 │      0 │     1.6 │   1.5 │       1 │      1 │      1 │      1 │     20 │    ▇    │  │
│ │ Fee               │   0 │      0 │      21 │    78 │       0 │      0 │      0 │      0 │   3000 │    ▇    │  │
│ │ State             │   0 │      0 │   41000 │    32 │   41000 │  41000 │  41000 │  41000 │  41000 │ ▇    ▃  │  │
│ │ VideoAmt          │   0 │      0 │   0.057 │  0.35 │       0 │      0 │      0 │      0 │      8 │    ▇    │  │
│ │ PhotoAmt          │   0 │      0 │     3.9 │   3.5 │       0 │      2 │      3 │      5 │     30 │   ▇▃    │  │
│ │ AdoptionSpeed     │   0 │      0 │     2.5 │   1.2 │       0 │      2 │      2 │      4 │      4 │ ▁▆ ▇▆▇  │  │
│ └───────────────────┴─────┴────────┴─────────┴───────┴─────────┴────────┴────────┴────────┴────────┴─────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name              ┃ NA         ┃ NA %       ┃ words per row               ┃ total words             ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━┩  │
│ │ Name                     │       1265 │       8.44 │                         1.7 │                   24915 │  │
│ │ RescuerID                │          0 │          0 │                           1 │                   14993 │  │
│ │ Description              │         13 │       0.09 │                          63 │                  944179 │  │
│ │ PetID                    │          0 │          0 │                           1 │                   14993 │  │
│ └──────────────────────────┴────────────┴────────────┴─────────────────────────────┴─────────────────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

Las 4 variables con tipos de datos string son nombres, códigos de identificación y descripciones con mucho texto. Estas variables serán dejadas de lado por el momento para analizar las variables numéricas, que la mayoría son categóricas también.

Por lo tanto comenzaremos a analizar las variables categóricas. Estas son:
- Type: si es perro o gato.
- Color 1, 2 y 3: colores de los animales
- Breed 1 y 2: raza o mezcla de razas
- Gender: sexo del animal
- MaturitySize: tamaño de un adulto
- FurLength: largo del pelaje
- Vaccinated: si está vacunado el animal o no
- Dewormed: si está desparazitado o no
- Sterilized: si está esterilizado o no
- Health: salud del animal
- Fee: taza de adopción
- State: provincia o región donde se encontró el animal 
- AdoptionSpeed: tiempo de adopción

Las variables puramente numéricas son:
- Age: edad del animal en cantidad de meses
- VideoAmt: cantidad de videos para la mascota
- PhotoAmt: cantidad de fotos para la mascota

0          0
1          0
2          0
3          0
4          0
        ...
14988      0
14989    264
14990    266
14991      0
14992    307
Name: Breed2, Length: 14993, dtype: int64

In [105]:
data_EDA = data.copy()
data_EDA.Breed1 = data_EDA.merge(breadth, how = "left", left_on=["Type", "Breed1"], right_on= ["Type", "BreedID"])["BreedName"]
data_EDA.Breed2 = data_EDA.merge(breadth, how = "left", left_on=["Type", "Breed2"], right_on= ["Type", "BreedID"])["BreedName"]
data_EDA.Color1 = data_EDA.merge(color, how = "left", left_on=["Color1"], right_on= ["ColorID"])["ColorName"]
data_EDA.Color2 = data_EDA.merge(color, how = "left", left_on=["Color2"], right_on= ["ColorID"])["ColorName"]
data_EDA.Color3 = data_EDA.merge(color, how = "left", left_on=["Color3"], right_on= ["ColorID"])["ColorName"]
data_EDA.State = data_EDA.merge(state, how = "left", left_on=["State"], right_on= ["StateID"])["StateName"]

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,Tabby,NaN,1,Black,White,NaN,1,...,1,1,100,Selangor,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,No Name Yet,1,Domestic Medium Hair,NaN,1,Black,Brown,NaN,2,...,1,1,0,Kuala Lumpur,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,Brisco,1,Mixed Breed,NaN,1,Brown,White,NaN,2,...,1,1,0,Selangor,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3
3,1,Miko,4,Mixed Breed,NaN,2,Black,Brown,NaN,2,...,1,1,150,Kuala Lumpur,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2
4,1,Hunter,1,Mixed Breed,NaN,1,Black,NaN,NaN,2,...,1,1,0,Selangor,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2

In [106]:
data_EDA.Type = data_EDA.Type.apply(lambda x: "Perro" if x == 1.0 else "Gato")
data_EDA.Gender = data_EDA.Gender.apply(lambda x: "Male" if x == 1.0 else("Female" if x == 2.0 else "Mixed"))
data_EDA.MaturitySize  = data_EDA.MaturitySize .apply(lambda x: "Small" if x == 1.0 else("Medium" if x == 2.0 else("Large" if x == 3.0 else("Extra Large" if x == 4.0 else "Not Specified"))))
data_EDA.FurLength = data_EDA.FurLength.apply(lambda x: "Short" if x == 1.0 else("Medium" if x == 2.0 else("Long" if x == 3.0 else "Not Specified")))
data_EDA.Vaccinated  = data_EDA.Vaccinated .apply(lambda x: "Yes" if x == 1.0 else("No" if x == 2.0 else "Not Sure"))
data_EDA.Dewormed = data_EDA.Dewormed.apply(lambda x: "Yes" if x == 1.0 else("No" if x == 2.0 else "Not Sure"))
data_EDA.Sterilized = data_EDA.Sterilized.apply(lambda x: "Yes" if x == 1.0 else("No" if x == 2.0 else "Not Sure"))
data_EDA.Health = data_EDA.Health.apply(lambda x: "Healthy" if x == 1.0 else("Minor Injury" if x == 2.0 else("Serious Injury" if x == 3.0 else "Not Specified")))
data_EDA["Con_Nombre"] = data_EDA.Name.apply(lambda x: "No" if pd.isna(x) else "Si")

In [108]:
data_EDA.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed,Con_Nombre
0,Gato,Nibble,3,Tabby,NaN,Male,Black,White,NaN,Small,...,1,100,Selangor,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2,Si
1,Gato,No Name Yet,1,Domestic Medium Hair,NaN,Male,Black,Brown,NaN,Medium,...,1,0,Kuala Lumpur,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0,Si
2,Perro,Brisco,1,Mixed Breed,NaN,Male,Brown,White,NaN,Medium,...,1,0,Selangor,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3,Si
3,Perro,Miko,4,Mixed Breed,NaN,Female,Black,Brown,NaN,Medium,...,1,150,Kuala Lumpur,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2,Si
4,Perro,Hunter,1,Mixed Breed,NaN,Male,Black,NaN,NaN,Medium,...,1,0,Selangor,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2,Si

## 3. Pre-procesar Nulos
Verificar la existencia de Nulos y decidir como Imputarlos en caso de que existan

Verificar la existencia de Ceros u otros valores que puedan indicar que pueden ser perdidos

In [60]:
#casos de raza2 con valores nulos 
data.loc[(data['Breed2'] == 0), 'Breed2'] = np.nan
data[['Breed2']].isnull().sum()

Breed2    10762
dtype: int64

In [61]:
# se reemplazan por Null los casos de raza1 no definidos y raza2 definida
data.loc[(data['Breed1'] == 0) & (data['Breed2'] > 0), 'Breed1'] = np.nan
data[['Breed1']].isnull().sum()

Breed1    5
dtype: int64

In [71]:
#comprobar valores 0 en el campo Gender
data['Gender'].value_counts()

2    7277
1    5536
3    2180
Name: Gender, dtype: int64

In [70]:
#analisis de colores

#sin ningun color
data.loc[(data['Color1'] == 0) & (data['Color2'] == 0) & (data['Color3'] == 0)]

#al menos un color
print(data.loc[(data['Color1'] == 0)].shape)

#reemplazo de 0 por NaN en columnas de colores
data.loc[(data['Color2'] == 0), 'Color2'] = np.nan
data.loc[(data['Color3'] == 0), 'Color3'] = np.nan

#comprobacion de valores nulos aplicados
print(data['Color2'].isnull().sum())
print(data['Color3'].isnull().sum())

(0, 24)
4471
10604

In [72]:
#verificacion de valores nulos en columna de MatuteSize
data.MaturitySize.value_counts()

2    10305
1     3395
3     1260
4       33
Name: MaturitySize, dtype: int64

In [74]:
#verificacion de valores nulos en columna de FurLength
data.FurLength.value_counts()

1    8808
2    5361
3     824
Name: FurLength, dtype: int64

In [77]:
#Vaccinated - Pet has been vaccinated (1 = Yes, 2 = No, 3 = Not Sure)
#Dewormed - Pet has been dewormed (1 = Yes, 2 = No, 3 = Not Sure)
#Sterilized - Pet has been spayed / neutered (1 = Yes, 2 = No, 3 = Not Sure)

#verificacion de valores nulos en columna de FurLength
data.Vaccinated.value_counts()

#verificacion de valores nulos en columna de Dewormed
data.Dewormed.value_counts()

#verificacion de valores nulos en columna Sterilized
data.Sterilized.value_counts()

2    10077
1     3101
3     1815
Name: Sterilized, dtype: int64

In [78]:
#verificacion de valores nulos en columna Health
data['Health'].value_counts()

1    14478
2      481
3       34
Name: Health, dtype: int64

In [79]:
#verificacion de valores en columna Quantity
data.Quantity.value_counts()

1     11565
2      1422
3       726
4       531
5       333
6       185
7        84
8        52
9        33
10       19
20       12
11       10
12        6
15        4
17        3
16        3
14        2
13        2
18        1
Name: Quantity, dtype: int64

In [80]:
#verificacion de valores en columna State
data.State.value_counts()

41326    8714
41401    3845
41327     843
41336     507
41330     420
41332     253
41324     137
41325     110
41335      85
41361      26
41345      22
41367      15
41342      13
41415       3
Name: State, dtype: int64

In [81]:
#Evaluacion de valores en columna AdoptionSpeed
data.AdoptionSpeed.value_counts()

4    4197
2    4037
3    3259
1    3090
0     410
Name: AdoptionSpeed, dtype: int64

## 4. Convertir o eliminar las Columnas Categóricas

Por ejemplo, la Descripción habría que sacarla para un análisis independiente

In [85]:
data = data.drop(['Name','RescuerID','Description','PetID'], axis=1)

In [86]:
#validacion del dataset limpio (modelo 1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14993 entries, 0 to 14992
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Type           14993 non-null  int64
 1   Age            14993 non-null  int64
 2   Breed1         14988 non-null  float64
 3   Breed2         4231 non-null   float64
 4   Gender         14993 non-null  int64
 5   Color1         14993 non-null  int64
 6   Color2         10522 non-null  float64
 7   Color3         4389 non-null   float64
 8   MaturitySize   14993 non-null  int64
 9   FurLength      14993 non-null  int64
 10  Vaccinated     14993 non-null  int64
 11  Dewormed       14993 non-null  int64
 12  Sterilized     14993 non-null  int64
 13  Health         14993 non-null  int64
 14  Quantity       14993 non-null  int64
 15  Fee            14993 non-null  int64
 16  State          14993 non-null  int64
 17  VideoAmt       14993 non-null  int64
 18  PhotoAmt       14993 non-null  float64
 19  AdoptionSpeed  14993 non-null  int64
dtypes: float64(5), int64(15)
memory usage: 2.3 MB

## 5. Normalizar o Estandarizar las variables Numericas (para los modelos que sean necesarios)

Revisar si existen valores extremos y considerarlos para los modelos que afecte

In [ ]:
#categorizacion de datos no ordinales
from sklearn.preprocessing import OrdinalEncoder

OrdinalEncoder().fit_transform(data[["Type", "Breed1", "Breed2", "Gender", "Color1", "Color2", "Color3", "Vaccinated", "Dewormed", "Sterilized", "State"]])

#variable ordinales y con valores ascendentes (revision si es correcto!!!!)
#encoder = OrdinalEncoder(categories=[[3, 2, 1], [1, 2, 3, 4], [1, 2, 3], [4, 3, 2, 1, 0]])
#encoder.fit_transform(data[["Health", "MaturitySize", "FurLength", "AdoptionSpeed"]])

## 6. Separa la base de Test (10%) y Train (90%)
Pueden ser otros porcentajes que les parezcan mejor

### 7. Para la parte de Train, armar un esquema de Cross Validation

Usar 10 Folds

## 8. Entrenar al menos un Modelo que prefieran y optimizar al menos un Hiperparámetro